@import '../../styles/constants';
@import '../../styles/colors';

.app-footer {
    height: $footerHeight;
    background-color: $footerBGColor;
    flex: 0 1 auto;
    color: $contrastText;
    padding: 5px 30px;
}