$standardGreen: #5fae8c;
$standardGray: #808080;

$headerBGColor: $standardGreen;
$footerBGColor: $standardGray;
$containerBGColor: rgba(255,255,255, 0.7);
$itemBGColor: rgb(163 224 224 / 28%);

$contrastText: #fff;