@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 2em;
  &:before {
    content: '...';
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 12px;
    width: 1.3em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
