$default-color: #00838F;
$white: #fff;
$black: #000;
$content-background: #F0F8FF;
$course-block-background-hover: rgba(240,230,140,0.5);
$course-block-background: #f0e68c;
$form-border-hover: #a89c30;
$tools-background: #e0ebeb;
$tools-background-hover: #c2d6d6;
$validation-invalid: #DB4E19;
$bg-modal: rgba(0,0,0,0.4);
$bg-modal-content: #fefefe;

$header-height: 50px;
$footer-height: 20px;
$content-min-width: 650px;
$element-default-height: 25px;
$form-layout-width: 30%;
