* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: $bg-color;
    padding: 10px 50px;
    color: $default-color;
}

.logo {
    display: block;
    width: 300px;
    padding: 20px;
}

.dashboard {
    float: left;
    width: 230px;

    div {
        padding: 5px 0;
    }
}

.icon {
    display: inline-block;
    background: url('~assets/gameObjects.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.wrapper {
    width: 900px;
    margin: auto;
}

.apple {
    background-position: 0 0;
}

.cake {
    background-position: -32px 0;
}

.carrot {
    background-position: 0 -32px;
}

.mushroom {
    background-position: -32px -32px;
}

.waste {
    background-position: 0 -64px;
}

.stone {
    background-position: -32px -64px;
}

.watermelon {
    background-position: 0 -96px;
}
